@{
    ViewData["Title"] = "Home Page";
}

<div style="margin-top: 100px; background-color: lightgray; padding: 20px; border-radius: 20px; border: gray 2px solid;" class="text-center">
    <h1 class="display-4">Merch web-store <i>"Lumen"</i></h1>
    <h2>Our team:</h2>
    <h4><i>Oleshko Vladyslav</i></h4>
    <h4><i>Oleksandr Cheshun</i></h4>
    <h4><i>Karina Matviychuk</i></h4>
    <p class="mb-0">Khmelnytsy National University</p>
    <p>Group SE-23-1</p>
</div>
